body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-list{
  font-family:Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  width: 500px;
}

h2{
  font-size: 40px;
}

button{
  font-size: 18px;
  font-weight: bold;
  padding: 8px 8px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.add-button{
  background-color: rgb(100, 192, 123);
}

.add-button:hover{
   background-color: rgb(53, 182, 85);
}

.delete-button{
  background-color: rgb(204, 94, 94);
}

.delete-button:hover{
  background-color: rgb(163, 76, 76);
}

.up-button{
  background-color: rgb(140, 144, 146);
}

.up-button:hover{
  background-color: rgb(100, 103, 104);
}

.down-button{
  background-color: rgb(140, 144, 146);
}

.down-button:hover{
  background-color: rgb(100, 103, 104);
}

input[type="text"]{
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: rgb(22, 22, 22);
}

ol{
  padding: 0;
  list-style-type: none;
}

li{
  font-size: 20px;
  padding: 10px;
  background-color: bisque;
  margin-bottom: 10px;
  border-radius: 10px;
}